<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Q&A</title>
</head>
<body>
  <div class="contenedor">
    <div class="encabezado">
      <img src="../../../assets/img/quiz.jpg" class="imagen rounded float-start" alt="">
    </div>

        <div class="btn"  id="btn" (click)="Jugar()">
          Jugar
        </div>


        <button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#Info" aria-controls="Info">
          Info
        </button>


  </div>



  <div class="offcanvas offcanvas-start" tabindex="-1" id="Info" aria-labelledby="InfoLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="InfoLabel">Informacion</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Este es un pequeño test basado en la historia de republica dominicana, el test consta de 10 pregunta para responder.
        Favor tener cuidado con los trucos, en caso de elegir la pregunta equivocada podra visualizar la correcta segundos antes de pasar a la siguiente.
        <br>
        Buena suerte!.
      </div>
      <img src="../../../assets/img/cat.gif" style="width: 300px;" alt="">

    </div>
  </div>
</body>
</html>
